# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
env/
*.egg-info/
dist/
.pytest_cache/

# Env files (JANGAN di-commit!)
.env
.env.local
backend/.env

# Node
node_modules/
frontend/dist/
frontend/.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
